@import 'color';

#productDetails{
	.upper-section{
		img{
		width: 100%;
		}
		margin-bottom: 30px;
	}

	.details-section{
		color: $main-text-color;
		.product{
			&-type{
				font-size: 14px;
				font-weight: 300;
				text-transform: uppercase;
				margin: 0;
			}

			&-owner {
				float: right;

				img {
					height: 50px;
					border-radius: 50%;
					display: block;
					margin: 0 auto;
				}

				span{
					display: block;
					font-size: 13px;
					font-weight: 300;
				}
			}

			&-title{
				margin-bottom: 5px;
				font-size: 32px;
				font-weight: 700;
			}

			&-city{
				margin-bottom: 20px;
				font-size: 20px;
				font-weight: 300;
			}

			&-room-info{
				margin-bottom: 20px;
				font-size: 16px;
				font-weight: 300;
			}

			span{
				margin-left: 2px;
			}

			i{
				margin-right: 2px;
			}
		}

		&-description{
				margin-bottom: 30px;
				font-weight: 300;
		}

		&-assets{
			.title{
				margin-bottom: 10px;
				font-size: 22px;
				font-weight: 700;
			}
			span{
			display: block;
			margin-bottom: 15px;
			font-weight: 300;
			}
		}
	}
}




#productListing{
	.title{
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 20px;
	}

	/* SING CARD STYLES*/
	.app-card{
	border: none;

		.card-block{
			padding-top: 8px;

		.card-subtitle{
			margin: 0;
			font-weight: 500;
			font-size: 12px;
			text-transform: uppercase;
			color: #16861a;
		}

		.card-title{
			font-size: 19px;
			margin: 3px 0;
		}

		.card-text{
			font-size: 14px;
			font-weight: 300;
			color: #7e7e7e;
			margin-bottom: 0;
		}
	}
	}
}
