$main-color: #F44336;
$main-text-color: #484848;
$light-gray-color: #e9e9e9;

$main-color-1: #61dafb;
$main-text-color-1: #484848;
$light-gray-color-1: #a9a9a9;
$main-black-color: #20232a;
$main-white-color: #ededed;