<section id="userRentals">
    <h1 class="page-title">My Products</h1>
    <div class="row">
      <ng-container *ngIf="products && products.length > 0">
        <div *ngFor="let product of products; let i = index" class="col-md-4">
          <div class="card text-center">
            <div class="card-block">
              <h4 class="card-title">{{product.name | ucwords}}</h4>
              <a class="btn btn-ghost" routerLink="/products/{{product._id}}">Go to Product Detail</a>
              <span >
                <bwm-manage-product-shoppingCart [shoppingCarts]="product.shoppingCarts"></bwm-manage-product-shoppingCart>
              </span>
            </div>
            <div class="card-footer text-muted">
               <p>Created at {{product.createdAt | formatDate}}</p>

               <button  (click)="rentalDeleteIndex = i"
                        *ngIf="rentalDeleteIndex !== i"
                        type="button"
                        class="btn btn-bwm btn-delete">Delete</button>
                <a class="btn btn-warning btn-edit" routerLink="/products/{{product._id}}/edit">Edit</a>
                <div *ngIf="rentalDeleteIndex === i">
                  <a class="confirm-message">Do you confirm delete?</a>
                  <button (click)="deleteRental(product._id)" 
                          class="btn btn-success">Yes</button>
                  <button (click)="rentalDeleteIndex = undefined"
                          class="btn btn-danger">No</button>
                </div>
                
            </div>
          </div>
        </div>
      </ng-container>
      <div *ngIf="products && products.length === 0" class="col-md-8">
        <div class="alert alert-warning">
          You dont have any products currenty created. If you want advertised your property
          please follow this link.
          <a class="btn btn-bwm" routerLink="/products/new">Create New Product</a>
        </div>
      </div>
    </div>
  </section>