<section id="newRental">
  <div class="app-form">
    <div class="row">
      <div class="col-md-5">
        <h1 class="page-title">Add a Product</h1>
        <form >
          <div class="form-group">
            <label for="title">Product Name</label>
            <input type="text"
                   class="form-control"
                   id="name"
                   name="name"
                   >
          </div>

          <div class="form-group">
            <label for="city">Quantity</label>
            <input type="text"
                   class="form-control"
                   id="quantity"
                   name="quantity"
                   >
          </div>

          <div class="form-group">
            <label for="category">Category</label>

            <select class="form-control"
                    id="category"
                    name="category"
                    >
              <option > category </option>
              <option> Computer </option>
            </select>
          </div>

          <div class="form-group">
            <label for="city">Manufacturer</label>
            <input type="text"
                   class="form-control"
                   id="manufacturer"
                   name="manufacturer"
                   >
          </div>

          <div class="form-group">
            <label for="image">Image</label>
            <input type="file"
                   name="image"
                   class="form-control"
                   id="image"
                   
                    />
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea rows="5"
                      type="text"
                      class="form-control"
                      id="description"
                      name="description"
                      >
            </textarea>
          </div>

          <div class="form-group">
            <label for="dailyRate">Daily Rate</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">$</div>
              </div>
              <input type="number"
                     name="dailyRate"
                     class="form-control"
                     id="dailyRate"
                     name="dailyRate"
                     >
            </div>
          </div>

          <div class="form-group">
            <label for="shared">Shared</label>
            <input type="checkbox"
                   class="form-control"
                   id="shared"
                   name="shared"
                   >
          </div>
          <button
                  type="button"
                  class="btn btn-app">Submit
          </button>
        </form>

        <div class="alert alert-danger">
          <p >
            detail
          </p>
        </div>
      </div>

      <div class="col-md-6 ml-auto">
        <div class="image-container">
          <h2 class="catchphrase">Hundreds of awesome places in reach of few clicks.</h2>
          <img src="assets/images/add-product.png" alt="">
        </div>
      </div>
    </div>
  </div>
  </section>