<section id="productDetails" >
  <div class="upper_section">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/images/add-product.png" alt=""/>
      </div>

      <div class="col-md-6">
        <img src="assets/images/add-product.png"/>
      </div>
    </div>
  </div>

  <div class="details-section">
    <div class="row">
      <div class="col-md-8">
        <div class="product">
          <h2 class="product-type ">Category</h2>
          <div class="product-owner">
            <img src="https://api.adorable.io/avatars/285/abott@adorable.png" alt="">
            <span>username</span>
          </div>
          
          <app-editable-input
            >

          </app-editable-input>

          <app-editable-input
            >

          </app-editable-input>

          <app-editable-input
           >

          </app-editable-input>


          <p class="product-description">
            Description
          </p>

          <hr/>

          <div class="product-assets">
            <h3 class="title">Assets</h3>

            <div class="row">
              <div class="col-md-6">
                <span><i class="fa fa-asterisk"></i> Get to Know Us</span>
                <span><i class="fa fa-thermometer"></i> Make Money with Us</span> 
                <span><i class="fa fa-location-arrow"></i> Payment Product </span> 
              </div>

              <div class="col-md-6">
                <span><i class="fa fa-desktop"></i> Become an Affiliate </span>
                <span><i class="fa fa-cube"></i> Advertise your product</span>
                <span><i class="fa fa-cube"></i> Sell your app</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4"> 
        <h1> Detail Booking</h1>
      </div>
  </div>
</div>
    
</section>
