/* You can add global styles to this file, and also import other style files */
$main-color: #61dafb;
$main-text-color: #484848;
$main-button-color: #f44336;
$light-gray-color: #a9a9a9;
$main-black-color: #20232a;
$main-white-color: #ededed;

.navbar {
    padding: 20px;
    margin-bottom: 40px;
    background-color: $main-black-color;
  
    .bwm-search {
      height: 50px;
      width: 300px !important;
    }
  
    .navbar-brand {
      margin-right: 30px;
      font-size: 27px;
      letter-spacing: 1px;
      color: $main-color !important;
      font-weight: 500;
  
      img {
        height: 28px;
        margin-left: -5px;
      }
    }
  
    .nav-item {
      font-size: 14px;
    }
  
    .btn-bwm-search {
      border-color: $main-color;
      color: $main-color;
  
      &:hover, &:focus, &:active {
        background-color: transparent !important;
        border-color: $main-color !important;
        color: $main-color !important;
        box-shadow: none;
      }
    }
  
    .nav-item {
      color: $main-white-color;
    }
  
    .dropdown-menu {
      .dropdown-item {
        font-size: 14px;
  
        &:active {
          background-color: $main-color;
        }
      }
    }
  }

  .btn-app{
    background-color: $main-button-color;
    border-color: $main-button-color;
    color: white;
    padding: 15px 30px;
    font-size: 20px !important;
  
    &:hover, &:focus, &:active{
      border-color: $main-color !important;
      background-color:$main-color !important;
    }
  }

  .app-form{
	color: $main-text-color;

	form{
		margin-bottom: 10px;
	}

	.alert{
		p{
			margin: 0;
		}
	}

	h1{
		font-weight: 700;
		margin-bottom: 30px;
	}

	.image-container{
		position: relative;
		
		img{
			width: 100%;
			border-radius: 5px;
		}

		label{
			font-size: 12px;
		}

		.form-context{
			font-size: 13px;
		}

		.catcgphrase{
			text-align: center;
			font-size: 42px;
			position: absolute;
			color: #f1f1f1;
			padding: 40px;
			background-color: rgba(0,0,0,0.5);
			margin-top: 50px;
			letter-spacing: 1px;
		}
	}
}